.welcome-card ion-img {
  max-height: 5vh;
  overflow: hidden;
  
  text-align: center;
}
#ion-title{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.image-tam{
  max-width: 525px;
    height: 525px;
    padding: .15em;
    height: 30vh;
  
 
}
#ion-content{
  text-align: center;
  background-image: url('/assets/edificios.svg');
  
}
.centrar{
  text-align: center;
}

.ion-input{
text-align: center;
}
.centrado{
  text-align: center;
}

